.empty {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.btn-primary {
    font-size: 19px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*
.cart {
    border-radius: 20px;
    background-color: white;
    width:80%;

    margin-left: 100px;
    margin-top: 15px;
    max-height: 300px;

    &:not(:last-child) {
        border-bottom: inset 2px oldlace;
    }

    &>* {
        margin: 1rem;
    }


}
*/
.row {
    margin: 0;
}

.cart {
    position: relative;
    border-radius: 20px;
    min-width: 320px;
    background-color: white;
    width: 100%;
    &:not(:last-child) {
        border-bottom: inset 30px white;
    }

    &>* {
        margin: 1rem;
    }
}

img {
    border-radius: 15px;
    max-width: 175px
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    img {
        max-width: 150px;
    }

}

@media(min-width: 340px) {
    .box{
        min-width: 320px;
        padding: 0;
    }
    
}

@media(min-width: 930px) and (max-width: 1360px) {
    .title{
        margin-left: -20px !important;
    }
    .price{
        margin-left: -20px !important;
    }
    
}

@media(min-width: 320px) and (max-width: 930px) {
    .title{
        margin-left: 5px !important;
    }
    .price{
        margin-left: 5px !important;
    }
    
}

.title{
    margin-left: -100px;
}
.price{
    margin-left: -100px;
}
.mainBox {
    justify-content: center;
    justify-self: center;
}

@media screen and (min-width: 340px) and (max-width: 1880px){
    .imageBox{
        padding: 0;
    }
    .changer{
        padding: 16px !important;
    }
}


.changer{
    padding: 28px ;
}
.countSign {
    font-size: 20px;
}


.col-1 {
    text-align: end;
    padding-top: 10px;
    margin-bottom: -100px;
}



.bi-trash {
    font-size: 20px;
    color: red
}



.price {
    color: rgba(8, 8, 8, 0.486)
}



.order {
    height: 100px;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: .5rem;
    background-color: white;
    width: 320px;
}

.cards {
    min-width: 320px;
}



.btn {
    border-radius: 15px;
    width: 320px;
}





.totalCheck {
    justify-self: center;
}